*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    
}
body{   
    max-width: 100%;
    height: 100vh;
    background-image:url(covercars.jpg);        
    background-size:cover;
    position:relative;
    /* overflow: hidden; */
}
header{
    width: 100%;
    position: relative;
    top: 0;left: 0; right: 0;
    text-align: center;
    align-items: center;
    justify-content:space-between;
    z-index: 1;
    margin-top: 0;   
}

header .mag{
    color: rgb(129, 158, 158);
    text-decoration: none;
    font-size: 75px;
    font-family: verdana;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    background-color: transparent;
}
.nav{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    font-size: medium;
    position: relative;
    background-color: black;
    padding-top: 10px;
}
.nav-list{
    display:inline-flex;
    list-style: none;
    align-items: center;
    font-size: 25px;
}
.nav-list li{
    margin: 10px;   
} 
.nav-list li a{
    width: auto;
    text-decoration: none;
}
.nav-list a.active{
    background-color: aliceblue;
}    
.nav-list li a:hover{    
    background: white;
    color: black;
    text-decoration: none; 
}   
.nav-list li ul{
    position: absolute;
    background:white;
    display: none;
    text-decoration: none;
}
.cars li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.cars li a{
    width: 100%;
    display:block;
    padding: 10px;
    color: rgb(197, 57, 85);
    font-size: medium;   
}    
header .mag:hover{
    background-color: crimson;
    color: aliceblue;
}
.nav-list li:hover > ul{
    display: initial;
} 
.journey{
    padding-top: 10px;
    padding-left: 5px;
    font-family:Georgia;
    background-color: rgb(129, 158, 158);
    border-radius: 50px;
    height: 45px;
    text-align: center;
}
.main{
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height:100px;
    padding: 1rem;
    grid-gap: 10px; 
}
.main-month{
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height:100px;
    padding: 1rem;
    margin: 20;
    grid-gap: 10px;
    
}
.main-month h1{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    font-family:Georgia;
    background-color: rgb(129, 158, 158);
    border-radius: 50px;
    height: 70px;
    text-align: center;
    position:sticky;
    font-size: 30px;
    
}
.main-month p{
    padding: 5px;
    background-color: azure;
    font-family: Georgia;
    height: 100%;
    border-radius: 25px;
    margin: 10px;
    text-align:center;
    border: 2px solid black;    
}
.main-container h1{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 5px;
    font-family:Georgia;
    background-color: rgb(129, 158, 158);
    border-radius: 50px;
    height: 300px;
    text-align: center;
    
}
.greet{
    background-color: transparent;
    color: azure;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-family:Georgia;
}
.greet p{
    background-color: black;
    color: azure; 
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;    
}
.l2 p{
    padding: 5px;
    background-color: azure;
    font-family: Georgia;
    height: 100%;
    border-radius: 25px;
    margin: 10px;
    text-align:center;  
}
.l1 h1{
    display: flex;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 5px;
    font-family:Georgia;
    background-color: rgb(129, 158, 158);
    border-radius: 25px;
    height: 250px;
    text-align: left;
    width: 220px; 
}
.l1 img{
    border-radius: 50%;
}
.news-content{
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    border: 2px solid black;
    box-shadow: 5px 5px 20px black;
}
.news-content p{
    font-family:Arial, Helvetica, sans-serif;
}    
.card-body{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
    background-color: azure;

}
.card-container{
    display: flex;
}
.card{
    height: 550px;
    margin: 5px;
    width: 400px;
    box-shadow: 5px 5px 10px grey;
    overflow: hidden; 
}
.card img{
    width: 400px;
    height: 200px;
    border-radius: 3px;
}
.intro{
    height: 400px;
    width: 400px;
    padding:5px;
    box-sizing: border-box;
    position:absolute;
    margin-top: 200px;
    background: rgb(109, 109, 109 .6);
    color: rgb(0, 0, 0);  
}
.intro p{
    font-family:Arial, Helvetica, sans-serif;
}
.card:hover{
    cursor: pointer;
}
.card:hover .intro{
    height:200px;
    bottom:200px;
    background: azure;
}
.r1 a{
    color: black;
    padding-top: 5px;
    margin-top: 5px;
    background-color: cadetblue;
    display: flex;
    border-radius: 25px;
    width: auto;
    justify-content: center;
}
.footer{
    width: 100%;
    background-color: beige;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
}
    
@media(min-width:100px) and (max-width:480px){
    *{
        width: 100%;
    }
    body{
        width: 100%;
        padding: 0;
        margin: 0;
        background-image: none;
        background-color: rgb(129, 158, 158);
    }
    header{
        width: 100%;
        position:relative;
        top: 0;left: 0; right: 0;
        background-color: rgb(129, 158, 158);
        text-align: center;
        align-items: center;
        justify-content:space-between;
    }
    
    header .mag{
        color: crimson;
        text-decoration: none;
        font-size: 25px;
        font-family: verdana;
        font-weight: bolder;
        width: 100%;
        text-align: center;
    }
    .nav{
        width: 100%;
        display: flex;
        justify-content:space-around;
        font-size: 10px;
        position: relative;
    }
    .nav ul{
        display:inline-flex;
        list-style: none;
        align-items: center;
        font-size: 15px;
        padding: 0;
    }
    .nav ul li{
        margin-right: 20px;
    }
    .nav ul li a:hover{    
        background: rgb(109, 109, 109);
        color: aliceblue; 
    }   
    .nav ul li ul{
        position: absolute;
        display: block;
        background:white;
        display: none;
    }
    
    .cars li a{
        display:flex;
        padding: 10px;
        color: rgb(197, 57, 85);
        font-size: medium;
    }    
    
    .nav ul li ul li{   
        border-top: 1px solid black; 
        width: 100%;  
    }
    header .mag:hover{
        background-color: crimson;
        color: aliceblue;
    }
    .nav ul li:hover > ul{
        display: initial;
    } 
    .l2{
        display: block;
        
    }
    .l1 h1{
        display: flex;
        width: 200px;
        height: 500px;
        font-size:30px;

    }    
    .footer{
        width:100%;
        background-color:rgb(109, 109, 109);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
    }
    .xpander img{   
        margin-top: 200px;
        width: 500px;
        align-self: center;
    }
    .statsmonth{
        display:block;  
    }
    .statsmonth h1{
        font-size:large;
        margin: 0;
    }
    .statsmonth p{
        overflow-wrap: break-word;
    }
    .main{
        display: flex;
    }
    .main-container h1{
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 5px;
        font-family:Georgia;
        background-color: rgb(129, 158, 158);
        border-radius: 50px;
        height: 150px;
        text-align: center;
        overflow-wrap:break-word;
    }
    .main-month{
        color: black;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        height:100px;
        padding: 1rem;
        margin: 20;
        grid-gap: 5px; 
    }
    .main-month h1{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
        font-family:Georgia;
        background-color: rgb(129, 158, 158);
        border-radius: 50px;
        height: 70px;
        text-align: center;
        position:sticky;
        font-size: 30px;
    }
    .main-month p{
        padding: 5px;
        background-color: azure;
        font-family: Georgia;
        font-size: 15px;
        height: 100%;
        border-radius: 25px;
        margin: 10px;
        text-align:center;    
    }
    .xpander img{
        padding-left: 30px;
    }
    .statsmonth h1{
        margin-left: 10px;
    }
    .card-body{
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        height: 90vh;
        align-items: center;
        background-color: azure;
    }
    .card-container{
        display: flex;
        margin-top: 0px;
        height: 100%;
    }
    .card{
        height: 1200px;
        margin: 5px;
        width: 200px;
        box-shadow: 5px 5px 20px black;
        padding-bottom: 10px;
    }
    .card img{
        width: 200px;
        height: 100px;
        border-radius: 3px;
        margin-top: 20px;
    }
    .intro{
        height: 100px;
        width: 100px;
        padding:5px;
        box-sizing: border-box;
        position:absolute;
        margin-top: 120px;
        background: rgb(109, 109, 109 .6);
        color: rgb(0, 0, 0);  
        font-size: 13px;
    }
    .journey{
        padding-top: 10px;
        padding-left: 5px;
        margin-left: 50px;
        width: 250px;
        font-family:Georgia;
        background-color: rgb(129, 158, 158);
        border-radius: 50px;
        height: 45px;
        text-align: center;
        
    }
    .greet{
        padding: 0;
    }
    .r1{
        width: 200px;
        background-color: rgb(129, 158, 158);
    }
    .main-editor{
        padding: 0;
        margin: 0;
    }
}